/* Blog Page Styling*/
.blog {
    margin: 30px 0;
}

.blog-h1 {
    margin-bottom: 20px;
    color: $white;
    text-align: center;
}

.blog-items {
    display: grid;
    grid-template-columns: 1fr;
}

.blog-item {
    margin: 10px auto;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $darker-blue;
    color: $white;
    border-radius: 5px;
}

.blog-item-h2 {
    margin-bottom: 5px;
}

.blog-item-h3 {
    font-size: 1.2rem;
}

.blog-item-p {
    margin-top: 20px;
}

/* Blog Post Page Styling*/
.blog-wrapper {
    color: $white;
}

.info {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-bottom: solid .1px $light;
}

.blog-name {
    margin: 15px 0 0 0;
}

.blog-h4 {
    font-weight: 400;
    margin: 0 0 20px 0;
}

.social-icons {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
}

.title {
    margin: 20px 0;
    text-align: center;
}

.blog-h2 {
    margin: 0 0 20px 0;
}

.content {
    line-height: 25px;
}

.bottom {
    margin-bottom: 20px;
}

.blog-post img {
    height: auto;
    width: 100%;
}