.main-button-container {
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.button-container {
    margin-top: 10px;
}

.btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: $white;
    background-color: $blue;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    -webkit-appearance: none;
}

.btn:hover {
    opacity: 0.8;
}

.main-btn {
    width: 10rem;
    margin-bottom: 10px;
}

.secondary-btn {
    background-color: $dark-blue;
    border: 1px solid $blue;
    width: 10rem;
}

.contact-btn {
    margin-top: 10px; 
}

.project-btn {
    margin: 5px 0;
}

.blog-btn {
    margin: 5px 0;
}

.git-btn {
    background-color: $darker-blue;
    border: 1px solid $blue;
    margin-top: .5rem;
}

.news-btn {
    border-radius: 5px;
    height: 3em;
    width: 100%;
}

.about-btn {
    width: 50%;
    
}