/* Form styling can be found under styles.scss */

.contact-page {
    margin: 0px 0;
}

.contact-h1 {
    color: $white;
    margin-bottom: 20px;
    text-align: center;
}

.contact-p {
    margin-bottom: 20px;
    color: $light;
    text-align: center;
}