/* tablet */
@media screen and (min-width: 1024px) {
    .container {
        width: 75%;
    }
    
    .nav {
        width: 40%;  
    }

    .hero {
        margin: 0 0 5rem 0;
    }

    .hero-content {
        margin: auto;
        flex-direction: row;
        width: 100%;
        align-items: center;
        text-align: left;
    } 

    .offer {
        margin: 5rem 0 5rem 0;
    }

    .info-cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1.5rem;
    }

    .contact-form {
        margin: auto;
        width: 60%;
    }

    .contact-btn {
        width: 25%;
        font-weight: 600;
    }

    .project-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }

}