@media screen and (max-width: 1010px) {
    .header-container {
        width: 90%;
    }

    a {
        font-size: .8rem;
    }

    .header-img img {
        height: 35px;
        width: 35px;
    }

    .top img, .bottom img {
        height: 200px;
        width: 200px;
    }

    .about {
        margin-left: 0px;
    }

    .about-wrapper {
        flex-direction: column;
    }

    .about-content {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .about-photo {
        margin-left: 0rem;
    }

    .email-form {
        width: 80%;
    }

    .footer-icons {
        width: 40%;
    }

    .con-content {
        text-align: center;
    }

    //Projects Page 

    .projects-container {
        grid-template-columns: 1fr;
    }

    .project-item {
        width: 100%;
    }
    
    .item2 {
        margin: 30px 0;
    }

    //Blog post
    .blog2 {
        height: auto;
    }

    .blog-container {
        flex-direction: column;
        width: 90%;
    }

    .blog-items {
        grid-template-columns: 1fr;
    }

    .blog-item {
        width: 100%;
    }

    .title {
        text-align: center;
    }

    .info {
        width: 100%;
        align-items: center;
    }

    .social-icons2 {
        margin-bottom: 20px;
    }

    .divider {
        border-bottom: solid 2px #d6d6d6;
        width: 75%;
        display: flex;
        margin: auto;
      }

      .divider2 {
          display: none;
      }
    

    .blog-post {
        width: 100%;
        margin-top: 20px;
    }

    .blog-image img {
        height: 225px;
        width: 350px;
    }

    .winLogos {
        height: 150px;
        width: 400px;  
    }

    .info-cards {
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
    }

    .contact-heading {
        width: 75%;
    }

    .contact-form .email-form {
        width: 90vw;
    }
 }
 

/* Mobile */
@media screen and (max-width: 600px) {
    .top img, .bottom img {
        height: 150px;
        width: 150px;
    }

    .projects-item {
        width: 80%;
    }

    .text-field {
        width: 100%;
    }
 }