$blue: #017dfd;
$dark-blue: #0A1931;
$darker-blue: #050c1a;
$white: #e7e7e7;
$light: #ffffff;
$font: 'Montserrat', sans-serif;

/* Global styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $dark-blue;
    overflow: hidden;
}

.container {
    width: 90%;
    margin: auto;
}

body, button {
    font-family: $font;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $white;
}

a:hover {
    color: $blue;
}

li {
    list-style-type: none;
}

h1 {font-size: 2.5rem;}
h2 {font-size: 2rem;}
h3{font-size: 1rem;}

.fas, .fa, .far { font-family: 'FontAwesome' !important;}