$background-color: #393E46;
$dark: #141414;
$blue: #3590F3;
$dark-blue: #20558d;
$white: #f5f5f5;
$font: 'Montserrat', sans-serif;

/* Global styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body, button {
    font-family: $font;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;
}

h1 {font-size: 2.5rem; letter-spacing: 2px;}
h2 {font-size: 2rem;}
h3{font-size: 1rem;}