@import "utilities";
@import "buttons";
@import "portfolio-style";
@import "blog-style";
@import "contact-style";


/**************
Header Section
***************/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 10px 0;
}

.nav-links {
    margin:  0 -45%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 15rem;
    width: 90%;
    top: 9vh;
    left: 50%;
    background-color: $darker-blue;
    border-radius: 5px;
    transform: translateY(-200%);
    transition: transform .7s ease-in;
}

.nav-active {
    transform: translateY(0%);
}

.nav-links li {
    opacity: 0;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.burger {
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: $white;
    margin: 5px;
    transition: all 0.3s ease;
}

/**************
Hero Section
***************/

.hero {
    margin: 100px 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

.hero-h1 {
    color: $white;
}

.hero-p {
    color: $light;
    margin: 20px 0;
    font-weight: 400;
}

.hero-photo {
    margin: 70px 0 0 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.hero-photo img {
    height: 300px;
    width: 400px;
}

/**************
Offer Section
***************/

.offer {
    margin: 100px 0;
    text-align: center;
}

.description-h1 {
    color: $white;
}

.description-h3 {
    margin: 20px;
    color: $light;
    font-weight: 400;
} 

.info-cards {
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px 0;
}

.card {
    color: $white;
    margin: 30px 0;

    .card-h3 {
        margin-bottom: 10px; 
    }
   
    .seo, .business {
        margin-bottom: 10px;
    }
}

.card-p {
    color: $light;
}


/**************
Contact Section
***************/

.contact {
    margin: 70px 0;
}

.contact-h1 {
    color: $white;
    margin-bottom: 20px;
    text-align: center;
}

.contact-form  {
    display: flex;
    flex-direction: column
}

.field-label {
    color: $white;
    margin: 10px 0;
}

.text-field {
    color: $white;
    background-color: $darker-blue;
    padding: 20px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.message {
    padding: 50px;
}


/**************
Footer Section
***************/

.footer {
    margin: 30px 0 0 0;
    border-top: solid 2.5px $darker-blue;
    padding: 20px 0;
}

.footer-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-h3 {
    color: $white;
    flex: 2;
}

.footer-icons {
    display: flex;
    margin: 10px auto;
    width: 20%;
    justify-content: space-between;
}

 @import "mediaqueries";