@import "utilities";
@import "buttons";
@import "portfolio-style";
@import "blog-style";
@import "contact-style";


/**************
Header Section
***************/

.header-content {
    height: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    line-height: 40px;
    background-color: $darker-blue;
    border-radius: 5px;
    margin-top: 125px;
    position:absolute;
}

.nav-item {
    font-weight: 450;
}

/**************
Hero Section
***************/

.hero {
    margin: 30px 0 50px 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

.hero-h1 {
    color: $white;
}

.hero-h3 {
    color: $light;
    margin: 20px 0;
    font-weight: 400;
}

.hero-photo {
    margin: 70px 0 0 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.hero-photo img {
    height: 300px;
    width: 400px;
}

/**************
Offer Section
***************/

.offer {
    margin: 50px 0;
    text-align: center;
}

.description-h1 {
    color: $white;
}

.description-h3 {
    margin: 20px;
    color: $light;
    font-weight: 400;
} 

.info-cards {
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px 0;
}

.card {
    color: $white;
    margin: 30px 0;

    .card-h3 {
        margin-bottom: 10px; 
    }
   
    .seo, .business {
        margin-bottom: 10px;
    }
}

.card-p {
    color: $light;
}


/**************
Contact Section
***************/

.contact {
    margin: 30px 0;
}

.contact-h1 {
    color: $white;
    margin-bottom: 20px;
    text-align: center;
}

.contact-form  {
    display: flex;
    flex-direction: column
}

.field-label {
    color: $white;
    margin: 10px 0;
}

.text-field {
    color: $white;
    background-color: $darker-blue;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.message {
    padding: 40px;
}


/**************
Footer Section
***************/

.footer {
    margin: 30px 0 0 0;
    border-top: solid 2.5px $darker-blue;
    padding: 20px 0;
}

.footer-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-h3 {
    color: $white;
    flex: 2;
}

.footer-icons {
    display: flex;
    margin: 10px auto;
    width: 20%;
    justify-content: space-between;
}

 @import "mediaqueries";