/* adding variables  */
:root {
    --main: #eeeeee;
    --dark: #2c3036;
    --blue: #6993f5;
    --font: 'JetBrains Mono';
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'JetBrains Mono', monospace;
    width: 100%;
    display: flex;
    flex-direction: column;

    background-color: #2c3036;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%232c3036' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%2330343a' href='%23s' y='2'/%3E%3Cuse fill='%2330343a' href='%23s' x='1' y='2'/%3E%3Cuse fill='%2334383e' href='%23s' x='2' y='2'/%3E%3Cuse fill='%2334383e' href='%23s'/%3E%3Cuse fill='%23393c42' href='%23s' x='2'/%3E%3Cuse fill='%23393c42' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%233d4146'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%233d4146'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%2341454a'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%232c3036'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%2345494e'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%232c3035'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%232c3035'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%232c3035'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 300;

}

/* Header Styling */
header {
    color: var(--blue);
    font-size: 20px;
    max-width: 940px;
    width: 100%;
    height: auto;
    margin: 0 auto auto auto;
}

.header-container {
    padding: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.nav-logo {
    height: 60px;
    width: 60px;
}
.menu {
    display: flex;
    list-style-type: none;
    margin: 10px;
}

.menu-item {
    margin-right: 40px;
}

a {
    color: var(--main);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--blue);
    text-decoration: none;
    cursor: pointer;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger:focus {
    outline: none;
}

.bar {
    height: 3px;
    width: 25px;
    margin: 5px;
    background-color: var(--blue);
}

.change .bar-1 {
    transform: rotatez(-45deg) translate(-6px, 3px);
}

.change .bar-2 {
    opacity: 0;
}

.change .bar-3 {
    transform: rotatez(45deg) translate(-8px, -6px);
}


/* Background section
.background-section {
    height: 100vh;
    background-color: #2c3036;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%232c3036' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%2330343a' href='%23s' y='2'/%3E%3Cuse fill='%2330343a' href='%23s' x='1' y='2'/%3E%3Cuse fill='%2334383e' href='%23s' x='2' y='2'/%3E%3Cuse fill='%2334383e' href='%23s'/%3E%3Cuse fill='%23393c42' href='%23s' x='2'/%3E%3Cuse fill='%23393c42' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%233d4146'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%233d4146'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%2341454a'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%232c3036'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%2345494e'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%232c3035'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%232c3035'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%232c3035'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
*/

/* About Section */
.about-section {
    margin: 20px auto 40px auto;
    width: 100%;
    height: 40vh;
    display: flex;
    color: var(--main);
}

.about-container {
    margin: auto;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.about-title {
    text-align: center;
}

.about-h1 {
    font-size: 3rem;
    color: var(--blue);
}

.about-para {
    margin: 20px auto auto auto;
    width: 50%;
    line-height: 22px;
    font-weight: 540;
    font-size: 18px;
}

.about-buttons {
    margin: 20px auto auto auto;
    width: 100%;
    text-align: center;
}

.btn {
    width: 15%;
    background-color: var(--blue);
    color: var(--main);
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    transition: all .2s ease-in-out;
    font-size: 18px;
    text-align: center;
}

.btn:hover {
    transform: scale(1.1);
}

/* Podcast Section */
.podcast-section {
    margin: 0px 0 20px 0;
    height: auto;
    width: 100%;
}

.podcast-container {
    margin: auto;
    padding: 20px 0px 20px 0px;
    max-width: 940px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.podcast-info {
    display: flex;
    flex-direction: column;
    color: var(--blue);
    width: 50%;
    padding-right: 40px;
    line-height: 22px;
}

.podcast-para {
    color: var(--main);
    padding-top: 10px;
}

.btn4 {
    margin-top: 10px;
    width: auto;
}

.cmm-img {
    border-radius: 5px;
}

/* Footer */
footer {
    margin: auto 0px 0px 0px;
    width: 100%;
}

.footer-container {
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    flex-shrink: 0;
}

.footer-icons {
    display: flex;
    align-items: center;
}

.icons {
    margin-right: 10px;
}

.image-15 {
    padding-top: 8px;
}


/* Blog Page */
.blog-section {
    margin: auto 0 auto 0;
    flex: 1 0 auto;
}

.blog-container {
    margin: auto;
    padding: 20px 0 20px 0;
    max-width: 940px;
    display: grid;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    align-items: center;
    flex: 1 0 auto;
}

.blog-item {
    background-color:#414750;
    margin-bottom: 20px;
    width: 75%;
    padding: 20px;
    border-radius: 8px;
}

.blog-h1 {
    color: var(--blue);
    font-size: 28px;
}

.blog-para, .blog-date {
    color: var(--main);
    margin-top: 3px;
}

.btn5, .btn6 {
    margin-top: 10px;
    width: 50%;
}

/* projects section */
.projects-section {
    margin: 20px auto 20px auto;
    text-align: center;
}

.projects-container {
    margin: auto;
    display: grid;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.projects-item {
    background-color: #414750;
    height: auto;
    width: auto;
    padding: 30px;
    border-radius: 8px;
    overflow: hidden;
}

.projects-h1 {
    font-size: 28px;
    color: var(--blue);
}

.projects-p {
    color: var(--main);
    margin: 10px 0px 10px 0px;
}

/* form section */
.form-section {
    margin: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.form-info {
    display: flex;
    flex-direction: column;
}

.form-h1 {
    color: var(--blue);
    text-align: center;
    font-size: 34px;
}

.form-para {
    color: var(--main);
    margin: 20px 0px 20px 0px;
    text-align: center;
}

/* form styling */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field-label {
    color: var(--blue);
    font-size: 24px;
    margin: 20px 0px 0px 0px;
}

.w-input {
    margin-top: 8px;
    width: 20em;
    background-color: var(--main);
    color: var(--dark);
    padding: 10px;
    border-radius: 8px;
    border:none;
    text-align: center;
}

.message {
    height: 5em;
}

.btn7 {
    margin-top: 20px;
    width: 50%;
    -webkit-appearance: none;
}

/*blog content*/
.blog-content-section {
    margin: auto;
}

.blog-content-container {
    display: flex;
    max-width: 940px;
    padding: 25px;
}

.blog-content-h1 {
    margin-bottom: 10px;
    color: var(--blue);
}

.blog-content p {
    color: var(--main);
}

.blog-content-para {
    line-height: 27px;
    font-weight: 500;
    color: var(--main);
}

/* Media Queries */
@media screen and (max-width: 767px) {
    body {
        height: auto;
    }
    
    .about-section {
        margin: 20px auto 40px auto;
    }

    .about-para {
        padding: 0px 30px 0px 30px;
        width: 85%;
    }
    
    .podcast-container {
        flex-direction: column;
        text-align: center;
    }

    .podcast-info {
        width: 100%;
        padding: 0;
        align-items: center;
    }

    .podcast-para {
        width: 75%;
    }

    .about-buttons {
        display: flex;
        flex-direction: column;
    }

    .btn1, .btn2, .btn3,.btn5, .btn6 {
        Margin: 10px;
        width: 50%;
    }

    .cmm-img {
        margin-top: 20px;
    }

    .projects-section {
        margin: 20px auto auto auto;
    }

    .projects-container {
        padding: 20px;
        grid-template-columns: 1fr;
    }

    .blog-section {
        height: 85vh;
    }

    .blog-container {
        padding: 20px;
        grid-template-columns: 1fr;
    }

    .blog-item {
        width: 100%;
    }

    .form-section {
        display: flex;
        height: 70vh;
        align-items: center;
        justify-content: center;
    }
}

/* Mobile Screens */
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 20px 0px 20px;
    }

    .nav-logo {
        height: 45px;
        width: 45px;
    }
    
    .menu {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .menu.show {
        display: block;
    }

    .menu-item {
        margin: 10px;
    }

    .hamburger {
        display: block;
    }
}